@import "./vars";
@import "./media";

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

* {
  color: $light;
}

body {
  font-family: $main-font;
  background: $dark;
  overflow-y: scroll;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  text-align: center;
}

.body-lock {
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.home {
  padding-top: 70px;

  @include media(770) {
    padding-top: 61px;
  }
}

.text {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: 0.44px;
}

.title {
  display: inline-block;
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 57px;
  padding-bottom: 20px;
  margin-bottom: 30px;

  &::after {
    position: absolute;
    content: "";
    width: 60%;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $accent-color;
  }

  @include media(992) {
    font-size: 30px;
  }

  @include media(767) {
    font-size: 25px;
  }

  @include media(320) {
    font-size: 20;
  }
}

.subtitle {
  font-weight: 500;
  font-size: 38px;
  line-height: 57px;

  @include media(770) {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }
}
