@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

$dark: #171718;
$border-color: #26292d;
$gray: #a0a0a1;
$light: #ffffff;
$accent-color: #5c62ec;
$hover-color: #3c40ae;
$card-dark: #1c1e22;
$main-font: "DM Sans", sans-serif;
