@import "../vars";
@import "../media";

.aboutMe {
  padding-top: 70px;

  @include media(820) {
    padding-top: 61px;
  }

  &__title {
    margin-top: 30px;
  }

  &__inner {
    padding: 64px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include media(820) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__img {
    position: relative;
    flex: 0 1 440px;
    overflow: hidden;
    margin-right: 30px;

    @include media(820) {
      margin: 0;
      margin-bottom: 24px;
    }

    img {
      width: 90%;
      max-height: 540px;

      @include media(820) {
        width: 100%;
        height: 90%;
      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 80%;
      bottom: 50%;
      right: 0;
      transform: translateY(50%);
      background: $accent-color;

      @include media(820) {
        width: 80%;
        height: 2px;
        bottom: 0;
        left: 50px;
        margin-top: 30px;
        transform: translateY(0), translateX(-50%);
      }
    }
  }

  &__body {
    flex: 0 1 540px;
    text-align: left;

    h3 {
      margin-bottom: 15px;
      font-size: 20px;
      color: $accent-color;
    }

    ul {
      list-style: inside !important;
      padding-left: 70px;
    }

    li {
      margin-bottom: 10px;
    }
  }

  &__link {
    display: inline-block;
    margin: 0 10px;
    color: $accent-color;
  }
}
