@import "../vars";
@import "../media";

.contact {
  padding-top: 70px;

  @include media(770) {
    padding-top: 61px;
  }

  &__title {
    padding-top: 20px;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    font-size: 25px;

    @include media(470) {
      font-size: 17px;
    }

    @include media(320) {
      font-size: 12px;
    }

    a {
      padding: 0 0 0 10px;
    }
  }

  &__descr {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }

  &__icon {
    color: $accent-color;
    margin-right: 10px;
  }
}
