@import "../vars";
@import "../media";

.courseProjects {
  margin-bottom: 80px;
  &__title {
    text-align: center;
  }

  &__slider {
    padding: 40px 0;

    @include media(1240) {
      padding: 40px;
    }

    @include media(770) {
      padding: 30px 20px;
    }

    @include media(470) {
      padding: 20px 0;
    }
  }

  a {
    position: relative;
    overflow: hidden;
    transition: all 0.6s ease;

    img {
      width: 100%;
    }

    &::after {
      position: absolute;
      content: "";
      width: 80%;
      height: 70%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #000;
      opacity: 0;
      backdrop-filter: blur(10px);
      transition: all 0.5s ease;

      @include media(920) {
        opacity: 0.8;
      }
    }

    &:hover {
      transform: scale(0.9);
    }

    &:hover::after {
      opacity: 0.7;
    }

    &:hover .courseProjects__descr {
      opacity: 1;
    }
  }

  &__descr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 0;
    transition: all 0.5s ease;

    @include media(920) {
      opacity: 1;
    }

    h4 {
      font-size: 34px;
      margin-bottom: 20px;
      color: $accent-color;
    }

    span {
      font-size: 24px;
    }
  }

  .slick-next,
  .slick-prev {
    width: 40px;
    height: 40px;
    @include media(770) {
      width: 20px;
      height: 20px;
    }

    @include media(470) {
      visibility: hidden;
    }
  }

  .slick-next::before,
  .slick-prev::before {
    font-size: 40px;
    @include media(770) {
      font-size: 20px;
    }
  }

  .slick-prev {
    left: -45px;
    @include media(770) {
      left: -25px;
    }
  }

  .slick-next {
    right: -45px;
    @include media(770) {
      right: -25px;
    }
  }

  .slick-dots li button:before {
    font-size: 15px;
    color: $light;
  }

  .slick-dots {
    bottom: -50px;
  }
}
