@import "../vars";
@import "../media";

.footer {
  &__list {
    padding: 17px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__info {
    text-align: center;
    padding: 17px 0;
    border-top: 1px solid $border-color;
  }

  li:hover &__icon {
    color: $accent-color;
  }
}
