@import "../vars";
@import "../media";

.home {
  padding-bottom: 50px;

  &__about {
    position: sticky;
    padding: 120px 0;

    @include media(770) {
      padding: 64px 0;
    }
  }

  &__projects {
    text-align: center;
  }

  &__title {
    margin-bottom: 64px;
    text-align: left;

    @include media(770) {
      margin-bottom: 32px;
    }
  }
}

.card {
  max-width: 870px;
  margin: 0 auto;
  padding: 24px;
  border: 1.5px solid $border-color;
  border-radius: 8px;
  background: $card-dark;
  display: flex;
  align-items: center;

  @include media(770) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__img {
    flex: 0 0 300px;
    height: 325px;
    overflow: hidden;
    margin-right: 32px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include media(770) {
      margin-top: 24px;
    }
  }

  &__btn {
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 45px 10px 25px;
    background: url("../../assets//icons/arrowIcon.svg") no-repeat;
    background-position: center right 10px;
    border: 1px solid $light;
    border-radius: 8px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      background: $hover-color;
      border-radius: 8px;
      z-index: -1;
      transition: 0.4s;
    }

    &:hover::before {
      width: 100%;
      right: auto;
      left: 0;
    }
  }

  &__text {
    margin: 30px 0 20px 0;
  }
}
